.button {
  --color: var(--grey-dark);

  padding: 8px;
  width: 100%;
  /* height: fit-content; */

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  background-color: white;

  color: var(--color);
  border-color: var(--color);
}
.button_delete {
  --color: var(--red);
}
.button_download a {
  color: inherit;
}
.button > h6 {
  color: var(--color);
  overflow-wrap: break-word;
}
.button:hover {
  border-color: var(--color);
  background-color: var(--color);
}
.button:hover > h6 {
  color: var(--white);
  font-weight: 600;
}

.button_disabled,
.button_disabled:hover,
.button_disabled > h6 {
  font-weight: normal;
  color: var(--white);
  background-color: var(--grey-medium);
}
.button_disabled:hover > h6 {
  font-weight: normal;
}
