{{define "head_fragment"}}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#e0e0e0" />
<title>{{.Title}}</title>
<link rel="stylesheet" href="/static/css/index.css" />

<link rel="icon" href="/static/assets/favicon/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/assets/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/svg+xml" href="/static/assets/favicon/favicon.svg">
<link rel="manifest" href="/static/assets/favicon/site.webmanifest">

{{ if .Meta.CssPath }}
<link rel="stylesheet" href="/public/{{ .Meta.CssPath }}" />
{{end}}

{{end}}
