.border-outter,
.border-input {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-light);
}

.border-input {
  overflow: hidden;
}

.border-outter:hover,
.border-input:hover {
  border-style: solid;
  border-color: var(--grey-dark);
}

.border-input {
  border-style: dashed;
}

.border-inner {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-light);
}

/* MOBILE */
@media screen and (max-width: 444px) {
  .border-outter,
  .border-input,
  .border-outter:hover,
  .border-input:hover {
    border-radius: 4px;
  }

  .border-inner {
    border-radius: 2px;
  }
}
@media screen and (max-width: 360px) {
}
