.border__outter,
.border__input {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-light);
}

.border__outter:hover,
.border__input:hover {
  border-style: solid;
  border-color: var(--grey-dark);
}

.border__input {
  border-style: dashed;
}

.border__inner {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey-light);
}

/* MOBILE */
@media screen and (max-width: 444px) {
  .border__outter,
  .border__input,
  .border__outter:hover,
  .border__input:hover {
    border-width: 1px;
    border-radius: 4px;
  }

  .border__inner {
    border-radius: 2px;
  }
}
@media screen and (max-width: 360px) {
}
