header h6,
header h5 {
  text-transform: uppercase;
}

header .username {
  color: var(--grey-dark);
}

.logo-container {
  position: relative;
  height: 100%;
}

.logo {
  position: absolute;
  max-height: 100%;
}

.login-container {
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
}
