header h6,
header h5 {
  text-transform: uppercase;
}

header .username {
  color: var(--grey-dark);
}

.logo-container {
  position: relative;
  height: 100%;
}

.logo {
  position: absolute;
  min-height: 1em;
  max-height: 100%;
}

.login-container {
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 650px) {
  .header_username-container {
    grid-row-start: 2;
  }
}

@media screen and (max-width: 360px) {
  .login-container {
    justify-content: flex-start;
  }
}
