.list > a,
.list > div,
.list > form {
  grid-column: 1/-1;
}
.list .card {
  height: 600px;
}
.list .card_text-container {
  max-width: 420px;
}
.list .card:hover .card_title {
  text-decoration: underline;
}
.list .card:hover .card_desc {
  display: none;
}
.list .card_text-container:hover .card_desc {
  display: flex;
}

/* CARD LIST */
.list > div a {
  color: var(--blue);
  text-decoration: underline;
}
.list > div .card_text-wrapper {
  width: 602px;
}

/* PAGE */
.page.list img {
  position: relative;
}
.page.list .card {
  flex-direction: row-reverse;
}
.page .card_text-wrapper {
  justify-content: flex-start;
}
.page.list .card_text-container {
  max-width: 100%;
}
.page.list .card_text-container {
  border: none;
}
@media screen and (max-width: 1268px) {
  .list > div .card_text-wrapper {
    width: 396px;
  }
}

@media screen and (max-width: 858px) {
  .list > div .card_text-wrapper {
    width: 100%;
  }
  .page.list .card {
    height: auto;
  }
  .list .card_desc {
    display: flex;
  }
  .list .card:hover .card_desc {
    display: flex;
  }
  .list .card_text-container {
    max-width: 100%;
  }
  .page.list .card {
    flex-direction: column-reverse;
  }
}
