.grid {
  --break-column: 6;

  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 190px);
  gap: 16px;
}

.grid_break-end {
  grid-column-start: 1;
  grid-column-end: var(--break-column);
}

.grid_break-start {
  grid-column-start: var(--break-column);
  grid-column-end: -1;
}

@media screen and (max-width: 1680px) {
  .grid {
    --break-column: 4;

    grid-template-columns: repeat(6, 190px);
  }
}

@media screen and (max-width: 1268px) {
  .grid {
    --break-column: 3;
    grid-template-columns: repeat(4, 190px);
  }
}

@media screen and (max-width: 858px) {
  /* TODO на 768 выглядит не очень */
  .grid {
    grid-template-columns: repeat(2, 190px);
  }

  .grid_break-end {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: flex-start;
  }

  .grid_break-start {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
/* MOBILE */
@media screen and (max-width: 444px) {
  .grid {
    /* grid-template-columns: repeat(2, 160px); */
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
@media screen and (max-width: 360px) {
  /* MOBILE */
  .grid {
    grid-template-columns: 1fr;
  }
}
