:root {
  --white: #fff;
  --grey-light: #e0e0e0;
  --grey-medium: #a4a4a4;
  --grey-dark: #535353;
  --black: #000;

  --red: #f00;
  --green: #00ff9b;
  --blue: #009bff;
  --blue-visited: #0040ff;
  --orange: #ff9b00;

  --js: #f0db4f;
  --css: #2965f1;
}

::selection {
  color: white;
  background: var(--blue); /* Safari */
}
::-moz-selection {
  color: white;
  background: var(--blue); /* Firefox */
}
