.wrapper {
  padding: 16px 0 32px;
  min-height: 100vh;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.grid {
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 190px);
  gap: var(--GRID-GAP);
}

.grid {
  grid-auto-rows: minmax(min-content, max-content);
}

.grid > * {
  height: min-content;
}

.grid__left-content {
  grid-column-start: 1;
  grid-column-end: var(--SEPARATOR-COLUMN);
}

.grid__right-content {
  grid-column-start: var(--SEPARATOR-COLUMN);
  grid-column-end: -1;
}

@media screen and (max-width: 1680px) {
  .grid {
    --SEPARATOR-COLUMN: 3;

    grid-template-columns: repeat(6, 190px);
  }
}

@media screen and (max-width: 1268px) {
  .grid {
    --SEPARATOR-COLUMN: 2;
    grid-template-columns: repeat(4, 190px);
  }
}

@media screen and (max-width: 858px) {
  .grid {
    grid-template-columns: repeat(3, 190px);
  }

  .grid__left-content {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: flex-start;
  }

  .grid__right-content {
    grid-column-start: 2;
    grid-column-end: -1;
  }

  .wrapper {
    padding: 16px 16px;
    /* row-gap: 16px; */
  }
}

@media screen and (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 190px);
  }

  .grid__right-content {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media screen and (max-width: 444px) {
  .grid {
    --GRID-GAP: 8px;
    /* grid-template-columns: repeat(2, 160px); */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  /* MOBILE */
  .wrapper {
    padding: 12px 8px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  /* BUG костыль */
  .grid__left-content,
  .grid__right-content {
    grid-column-start: 1;
    grid-column-end: end;
  }
}
