.author-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.authors-container {
  display: flex;
  gap: 8px;
}

.authors-container h6 {
  display: flex;
}

.authors-container h6 a {
  text-transform: none;
}

.authors-container form {
  width: fit-content;
  background-color: var(--grey-light);
}

a.owner {
  color: var(--black) !important;
}

a.pusher {
  color: var(--grey-dark) !important;
}
