@media screen and (max-width: 650px) {
  .header_position_bottom .logo__container {
    grid-row: 2/3;
  }

  .header_position_bottom .header__login-container {
    grid-row: 2/3;
  }

  .header_position_bottom .header__editor-link {
    grid-row: 3/4;
  }
}

@media screen and (max-width: 360px) {
  .header_position_bottom .hr_fieldset {
    grid-row: 1/2;
  }

  .header_position_bottom .logo__container {
    grid-row: 2/3;
  }

  .header_position_bottom .header__login-container {
    grid-row: 3/4;
  }

  .header_position_bottom .header__editor-link {
    grid-row: 4/5;
  }
}
