.border {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light);
}

.border:hover {
  border-color: var(--dark);
}

.border_light {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
}

.border_light:hover {
  border-color: var(--light);
}

.border_dashed {
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light);
}

.border_dashed:hover {
  border-style: solid;
  border-color: var(--dark);
}
