/* width */
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--medium);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--dark);
}
