:root {
  --WHITE: #fff;
  --LIGHT: #e0e0e0;
  --MEDIUM: #a4a4a4;
  --DARK: #535353;
  --BLACK: #000;

  --RED: #f00;
  --GREEN: #00ff9b;
  --BLUE: #009bff;
  --BLUE-DARK: #0040ff;
  --ORANGE: #ff9b00;

  --js: #f0db4f;
  --css: #2965f1;
}

::selection {
  color: white;
  background: var(--BLUE); /* Safari */
}
::-moz-selection {
  color: white;
  background: var(--BLUE); /* Firefox */
}
