.text-input__wrapper {
  width: 100%;
  margin: 0;
}

.text-input {
  width: 100%;
  padding: 8px 4px;

  color: var(--DARK);
  background-color: var(--LIGHT);

  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

.text-input:focus {
  color: var(--black);
  background-color: var(--WHITE);
  outline: 1px solid var(--BLACK);
  border: none;
}

.text-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--MEDIUM);
  opacity: 1;
  /* Firefox */
}

.text-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--MEDIUM);
}

.text-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--MEDIUM);
}
@media screen and (max-width: 444px) {
  .text-input {
    border-radius: 4px;
  }
}
