.node-info__container {
  --NODE-INFO-COLOR: var(--DARK);
  width: fit-content;
  display: flex;
  gap: var(--GRID-GAP-8);
  text-decoration-color: var(--NODE-INFO-COLOR);
  color: var(--NODE-INFO-COLOR);
}

/* TODO Это лишнее свойство? пока отключаю */
.node-info__container:hover {
  opacity: 0.8;
}
