.grid {
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 190px);
  gap: 16px;
}

.wrapper {
  padding: 8px 0 32px;
  row-gap: 24px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1680px) {
  .grid {
    grid-template-columns: repeat(6, 190px);
  }
}
@media screen and (max-width: 1268px) {
  .grid {
    grid-template-columns: repeat(4, 190px);
  }
}
@media screen and (max-width: 858px) {
  /* TODO на 768 выглядит не очень */
  .grid {
    grid-template-columns: repeat(2, 190px);
  }
  .wrapper {
    padding: 24px 0;
    row-gap: 16px;
  }
}
/* MOBILE */
@media screen and (max-width: 444px) {
  .grid {
    grid-template-columns: repeat(2, 160px);
  }
}
@media screen and (max-width: 360px) {
  /* MOBILE */
  .grid {
    grid-template-columns: 1fr;
  }
  .wrapper {
    padding: 24px 8px;
    row-gap: 16px;
  }
}
