.card {
  width: 100%;
  height: 288px;
  display: flex;
  gap: var(--gap-v);
  flex-direction: column;
  justify-content: center;
}

/* CARD-PAGE */

/* CARD-ELEMENT */
.card-element__link {
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
