/* TEXT */
.input-text__input {
  width: 100%;
  padding: 8px 4px;

  color: var(--grey-dark);
  background-color: var(--grey-light);

  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

.input-text__input:focus {
  color: var(--black);
  background-color: var(--white);
  outline: 1px solid var(--black);
  border: none;
}

.input-text__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-medium);
  opacity: 1;
  /* Firefox */
}

.input-text__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey-medium);
}

.input-text__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey-medium);
}

@media screen and (max-width: 444px) {
  .input-text__input {
    border-radius: 4px;
  }
}

/* FILE */
.input-file {
  display: none;
}
.input-file-label {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.input-file-label__text {
  z-index: 1;
  margin: 8px;
  text-transform: uppercase;
  font-weight: 600;
  mix-blend-mode: luminosity;
}

.input-file-lable__image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.input-radio_label {
  width: 100%;
  height: 100%;
  padding: 8px 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  text-transform: uppercase;
}

.input-radio_label h6 {
  display: flex;
  gap: 4px;
}

.input-radio_label h6 {
  color: var(--grey-medium);
}

.input-radio_label:hover {
}

.input-radio_label:hover h6 {
  font-weight: 600;
  color: var(--grey-dark);
}

.input-radio {
  display: none;
}

.input-radio:checked + label {
  background-color: var(--grey-dark);
  border-color: var(--grey-dark);
}

.input-radio:checked + label h6 {
  color: var(--white);
  font-weight: 600;
}

.circle::before {
  content: "○";
}

.input-radio:checked + label .circle::before {
  content: "●";
}
