{{define "resource-info"}}

<span class="node-info node-info__data-wrapper">
	<h2>resource-info-image</h2>
	<!-- {image && ( -->
	<!--   <Image -->
	<!--     image={image} -->
	<!--     id={id} -->
	<!--     variant={ImageVariantEnum.Width_190px} -->
	<!--   /> -->
	<!-- )} -->
	<h2>resource-info-text</h2>
	<!-- {hasTextData && ( -->
	<!--   <div class="node-info__data-container"> -->
	<!--     {isTitleNeeded && <ResourceTitle title={title} />} -->
	<!--     {author && <ResourceInfoAuthorPart author={author} />} -->
	<!--     {meta && <ResourceInfoDatePart meta={meta} />} -->
	<!--   </div> -->
	<!-- )} -->
</span>

{{end}}
