@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* @import url("/public/assets/fonts/iosevka-term-ss-14/iosevka-term-ss-14.css"); */

:root {
  font-size: 62.5%;
}

* {
  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  /* TODO check it */
  /* font-family: "Iosevka Term SS14 Web", "Helvetica Neue Condensed", sans-serif; */
  /* font-variant-ligatures: normal; */
  /* color: var(--DARK); */
}

p {
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}

h1 {
  margin-bottom: 4.8rem;
  font-size: 6.4em;
  font-style: italic;
  font-weight: 700;
  line-height: 75%;
  letter-spacing: -0.256rem;
}

h2 {
  margin-bottom: 2.4rem;

  font-size: 2.8em;
  font-style: italic;
  font-weight: 700;
  line-height: 84%;
  letter-spacing: -0.056rem;
}

h3 {
  margin-bottom: 1.2rem;

  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 84%;
}

h4 {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

h6 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.6rem;
  /* 114.286% */
}

a {
  color: var(--BLUE);
}

pre {
  width: 100%;
  max-width: 100%;
  padding: 16px 8px;
  margin-bottom: 2.4rem;
  overflow-x: scroll;
  background-color: var(--LIGHT);
}

code {
  font-size: 1.6em;
  font-family: "Roboto Mono", monospace;
  color: var(--DARK);
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 444px) {
  :root {
    /* font-size: 80%; */
    font-size: 72%;
  }

  h1 {
    font-size: 3.2em;
    line-height: 75%;
    /* 24px */
    margin-bottom: 2.4rem;
  }

  h2 {
    font-size: 2.4em;
    line-height: 2.4rem;
    /* 100% */
    margin-bottom: 2.4rem;
  }
}
