.fieldset-input-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: var(--gap-v); */
}

.fieldset-input-file_buttons {
  display: flex;
  gap: var(--gap-h);
}

.fieldset-radio-markup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-v);
}

@media screen and (max-width: 444px) {
  .fieldset-radio-markup {
    flex-direction: row;
  }
  .fieldset-radio-markup:not(.card) h5 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
}
