:root {
  --white: #fff;
  --grey-light: #e0e0e0;
  --grey-medium: #a4a4a4;
  --grey-dark: #535353;
  --black: #000;

  --red: #f00;
  --green: #00ff9b;
  --blue: #009bff;
  --blue-visited: #0040ff;
}

hr {
  border-top: 1px solid red;
  margin: 8px 0;
}

.grid {
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 190px);
  gap: 16px;
}

.wrapper {
  padding: 32px 0;
  row-gap: 24px;

  display: flex;
  flex-direction: column;
}

h1 {
  /* margin-bottom: 48px; */

  color: var(--black);

  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 75%; /* 48px */
  letter-spacing: -2.56px;
  text-transform: uppercase;
}
h2 {
  /* margin-bottom: 24px; */

  color: var(--grey-dark);

  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px; /* 85.714% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
h3 {
  color: var(--grey-dark);

  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
h4 {
  color: var(--black);

  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}
h5 {
  color: var(--grey-dark);

  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
h6,
label {
  color: var(--grey-dark);

  font-family: "Roboto Condensed", "Helvetica Neue Condensed", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px; /* 114.286% */
}

p {
  color: var(--grey-dark);

  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

a {
  color: var(--blue);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--blue-visited);
}

/* TODO Стилизовать чекбокс */
/* TODO Стилизовать inputFile */
label:hover {
  text-decoration: underline;
  text-decoration-color: var(--grey-medium);
}
input[type="text"] {
  width: 100%;

  color: var(--grey-dark);
  background-color: var(--grey-light);

  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-medium);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey-medium);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey-medium);
}

h1 input[type="text"] {
  height: 48px;
}
h6 input[type="text"] {
  padding: 0 4px;
  line-height: 24px;
  text-transform: uppercase;
}
textarea {
  width: 100%;
  resize: none;

  color: var(--grey-dark);
  background-color: var(--grey-light);

  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
}
textarea:focus {
  color: var(--grey-light);
  background-color: var(--grey-dark);

  outline: none;
}
h4 textarea {
  text-transform: uppercase;
}

button {
  padding: 4px 0;
  width: 100%;
  height: fit-content;

  color: var(--white);
  background-color: var(--grey-medium);
  text-transform: uppercase;
}
button h6 {
  color: var(--white);
}
button:hover {
  background-color: var(--grey-dark);
}
button[disabled] {
  /* background-color: var(--white); */
  background-color: white;
  border: 1px solid var(--grey-medium);
}
button[disabled] h6 {
  color: var(--grey-medium);
}

button.green {
  background-color: var(--white);
  border: 1px solid var(--green);
}
button.green h6 {
  color: var(--green);
}
button.green:hover {
  background-color: var(--green);
}
button.green:hover,
button.green:hover > h6 {
  color: var(--white);
}

button.red {
  background-color: var(--white);
  border: 1px solid var(--red);
}
button.red h6 {
  color: var(--red);
}
button.red:hover {
  background-color: var(--red);
}
button.red:hover,
button.red:hover > h6 {
  color: var(--white);
}

@media screen and (max-width: 1680px) {
  .grid {
    grid-template-columns: repeat(6, 190px);
  }
}
@media screen and (max-width: 1268px) {
  .grid {
    grid-template-columns: repeat(4, 190px);
  }
}
@media screen and (max-width: 858px) {
  /* TODO на 768 выглядит не очень */
  .grid {
    grid-template-columns: repeat(2, 190px);
  }
  .wrapper {
    padding: 24px 0;
    row-gap: 16px;
  }
}
@media screen and (max-width: 444px) {
  /* MOBILE */
  .grid {
    grid-template-columns: repeat(2, 160px);
  }
  h1 {
    font-size: 32px;
    line-height: 75%; /* 24px */
    /* margin-bottom: 24px; */
  }
  h2 {
    font-size: 24px;
    line-height: 24px; /* 100% */
    /* margin-bottom: 24px; */
  }
  h1 input[type="text"] {
    height: 24px;
  }
}
@media screen and (max-width: 360px) {
  /* MOBILE */
  .grid {
    grid-template-columns: 1fr;
  }
  .wrapper {
    padding: 24px 8px;
    row-gap: 16px;
  }
}
