.card__wrapper {
  height: 288px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
}

.card__wrapper * {
  word-wrap: break-word;
  text-decoration: none;
}

.card__text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 6px 8px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  pointer-events: none;
  user-select: none;

  color: var(--DARK);
  mix-blend-mode: luminosity;
}

.card__text-header {
  margin-bottom: 4px;
}

.card__cover-container {
  width: 100%;
}

.card__img {
  width: 100%;
}

@media screen and (max-width: 360px) {
  .card__wrapper {
    height: 214px;
  }
  .card__img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
