.profile_username {
  height: min-content;
  grid-column: 2/4;
}

.profile_username * {
  margin: 0;
}

.profile_username > h2 {
  word-break: break-all;
}

@media screen and (max-width: 1268px) {
  .profile_username {
    grid-column: auto;
  }
}

@media screen and (max-width: 858px) {
  .profile_username {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 650px) {
  .profile_username {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 444px) {
  .profile_username {
    gap: 12px;
  }
}
