:root {
  --GRID-GAP: 16px;

  --2-GRID-GAP: calc(var(--GRID-GAP) * 2);

  --GRID-GAP-2: calc(var(--GRID-GAP) / 2);
  --GRID-GAP-4: calc(var(--GRID-GAP) / 4);
  --GRID-GAP-8: calc(var(--GRID-GAP) / 8);

  --SEPARATOR-COLUMN: 4;
}
