{{define "resource-card_component"}}

<a class="card__wrapper border_light" href="/{{.Path}}">
	{{ if eq .Type "image" }}
	<picture class="card__cover-container">
		<!-- TODO -->
		<!-- <source srcset={imageWidth190px2xSource} media="(max-width: 360px)" /> -->
		<!-- <source srcset={image2xSrcset} /> -->
		<img src="/public/{{.Path}}" class="card__img" alt="page card cover" />
	</picture>
	{{ else if .Cover }}
	<picture class="card__cover-container">
		<!-- TODO -->
		<!-- <source srcset={imageWidth190px2xSource} media="(max-width: 360px)" /> -->
		<!-- <source srcset={image2xSrcset} /> -->
		<img src="/public/{{.Cover}}" class="card__img" alt="page card cover" />
	</picture>
	{{ end }}

	<div class="card__text-container">
		<h4 class="card__text-header">{{ .Name }}</h4>
		{{ if .Preview }}
		<h5>{{ .Preview }}</h5>
		{{ end }}
	</div>
</a>

{{end}}
