.button_delete {
  --color: var(--red);
}
.button_download a {
  color: inherit;
}
.button_plus {
  /* padding: 32px; */
  height: 100%;
  min-height: 102px;
}
.button_plus path {
  fill: var(--grey-dark);
}
.button_plus:hover path {
  fill: var(--white);
}
.button > p {
  color: var(--color);
  overflow-wrap: break-word;
}

.button_disabled,
.button_disabled:hover,
.button_disabled > p {
  font-weight: normal;
  color: var(--white);
  background-color: var(--grey-medium);
}
.button_disabled:hover > p {
  font-weight: normal;
}
